:root {
    --bar-color: "transparent";
    --thumb-color: black;
    --numbox-select: auto;
    --border-right-width: 0px;
    --slider-color: #3071A9;
    --slider-background: #444;
    --slider-thumb: black;
    --slider-thumb-height: thin;
    --slider-thumb-width: 100%;
    --textbox-selected-background: #3071A9;
    --textbox-selected-foreground: white;
    --textbox-caret-color: white;
    --toggle-background: white;
    --vu-background: #444;
    /* --slider-background: #ff0000; */
}

body {
    font-size: 10px;
}

div {
    user-select: none;
}

button {
    border-radius: 0px;
    border: thin solid black;
    margin: 2px;
  background-color: #fff; /* Green */
  /* border: none; */
  color: black;
  padding: 0px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
}

button:active{
    background-color: orange;
}

input[type=text] {
    caret-color: var(--textbox-caret-color);
}

input[type=text]::selection {
    caret-color: transparent;

    /* color: var(--textbox-selected-foreground); */
    /* background-color: var(--textbox-selected-background); */
}

/* input[type=text]::selection { */
/*     color: var(--textbox-selected-foreground); */
/*     background-color: var(--textbox-selected-background); */
/* } */

/* .numbox::-moz-selection { /\* Code for Firefox *\/ */
/*     color: var(--textbox-selected-foreground); */
/*     background-color: var(--textbox-selected-background); */
/* } */

[type="checkbox"] + label {
  position: absolute;
}
[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -4px;
  z-index: 0;
  -webkit-appearance: none;
}
[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  background-color: #000;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  z-index: 5;
  position: relative;
}

input[type="checkbox"]:checked+label::before {
  background-color: #c72f2f;
}


.numbox::selection {
    user-select: none;
    color: var(--textbox-selected-foreground);
    background-color: var(--textbox-selected-background);
}

.toggle {
  height: 10px;
  width: 30px;
  border-radius: 0;
  border: thin solid black;
  margin: 0;
  padding: 0;
}

.vslider {
    width: 17px;
    height: 144px;
    border-radius: 0px;
    position: relative;
    background: #fff;
    --thumb-color: black;
    --bar-color: "transparent";
    min-width: 0;
    flex: 0 0 auto;
    border: thin solid black;
}

.mvslider {
    border-radius: 0px;
    position: relative;
    --thumb-color: black;
    --bar-color: "transparent";
    min-width: 0;
    flex: 1 0 auto;
    border: thin solid black;
}

.mhslider {
    border-radius: 0px;
    position: relative;
    --thumb-color: black;
    --bar-color: "transparent";
    min-width: 0;
    flex: 1 0 auto;
    border: thin solid black;
}

.hslider {
    width: 144px;
    height: 17px;
    border-radius: 0px;
    position: relative;
    background-color: #fff;
    --thumb-color: black;
    --bar-color: "transparent";
    min-height: 0;
    flex: 0 0 auto;
    border: thin solid black;
}


.hslider {
    position: relative;
    /* margin-top: 45px; */
    /* margin-bottom: 45px; */
    /* margin-left: -45px; */
    /* margin-right: -45px; */
    /* transform: rotate(270deg); */
    min-height: 0
    /* background: var(--slider-background); */
    /* flex: "1 1 0" */
    flex: 0 0 auto;
}


.numbox {
    --textbox-selected-foreground: black;
    --textbox-selected-background: lightblue;
    color: black;
    background-color: white;
    position: relative;
    width: 40px;
    height: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px;
    text-align: center;
}
