:root {
    --numbox-select: auto;
    --border-right-width: 0px;
    --slider-color: #3071A9;
    --slider-background: #444;
    --slider-thumb: black;
    --slider-thumb-height: thin;
    --slider-thumb-width: 100%;
    --textbox-selected-background: #3071A9;
    --textbox-selected-foreground: white;
    --toggle-background: white;
    --vu-background: #444;
    /* --slider-background: #ff0000; */
}

body {
    font-size: 10px;
}

/* input[type=text]::-moz-selection { /\* Code for Firefox *\/ */
/*     color: var(--textbox-selected-foreground); */
/*     background-color: var(--textbox-selected-background); */
/* } */

button {
    border-radius: 0px;
    border: thin solid black;
    margin: 2px;
  background-color: #fff; /* Green */
  /* border: none; */
  color: black;
  padding: 0px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
}

button:active{
    background-color: orange;
}



input[type=text] {
    /* color: var(--textbox-selected-foreground); */
    /* background-color: var(--textbox-selected-background); */
}

/* input[type=text]::selection { */
/*     color: var(--textbox-selected-foreground); */
/*     background-color: var(--textbox-selected-background); */
/* } */

/* .numbox::-moz-selection { /\* Code for Firefox *\/ */
/*     color: var(--textbox-selected-foreground); */
/*     background-color: var(--textbox-selected-background); */
/* } */

[type="checkbox"] + label {
  position: absolute;
}
[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -4px;
  z-index: 0;
  -webkit-appearance: none;
}
[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  background-color: #000;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  z-index: 5;
  position: relative;
}

input[type="checkbox"]:checked+label::before {
  background-color: #c72f2f;
}


.numbox::selection {
    user-select: none;
    color: var(--textbox-selected-foreground); 
    background-color: var(--textbox-selected-background);
}

.toggle {
  height: 10px;
  width: 30px;
  border-radius: 0;
  border: thin solid black;
  margin: 0;
  padding: 0;
}

.vslider {
    position: relative;
    /* margin-top: 45px; */
    /* margin-bottom: 45px; */
    /* margin-left: -45px; */
    /* margin-right: -45px; */
    /* transform: rotate(270deg); */
    min-width: 0;
    background: var(--slider-background);
    /* flex: "1 1 0" */
    flex: 0 0 auto;
}

.hslider {
    position: relative;
    /* margin-top: 45px; */
    /* margin-bottom: 45px; */
    /* margin-left: -45px; */
    /* margin-right: -45px; */
    /* transform: rotate(270deg); */
    min-height: 0
    background: var(--slider-background);
    /* flex: "1 1 0" */
    flex: 0 0 auto;
}


.numbox {
    --textbox-selected-foreground: black;
    --textbox-selected-background: lightblue;
    color: black;
    background-color: white;
    position: relative;
    width: 40px;
    height: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px;
    text-align: center;
}

input[type=range] {
    background-color: var(--slider-background);
    -webkit-appearance: none;
    /* margin: 0px 0; */
    width: 100%;
    height: 100%;
    /* -moz-range-track: { */
    /*     width: 100%; */
    /*     height: 100%; */
    /*     cursor: pointer; */
    /*     animate: 0.2s; */
    /*     border-radius: 0px; */
    /*     border: none; */
    /*     /\* border-top-width: 1px; *\/ */
    /*     /\* border-top-style: solid; *\/ */
    /*     /\* border-top-color: rgb(0, 0, 0); *\/ */
    /*     /\* border-right-width: 1px; *\/ */
    /*     /\* border-right-style: solid; *\/ */
    /*     /\* border-right-color: rgb(0, 0, 0); *\/ */
    /*     /\* border-bottom-width: 1px; *\/ */
    /*     /\* border-bottom-style: solid; *\/ */
    /*     /\* border-bottom-color: rgb(0, 0, 0); *\/ */
    /*     /\* border-left-width: 0px; *\/ */
    /*     /\* border-left-style: solid; *\/ */
    /*     /\* border-left-color: rgb(0, 0, 0); *\/ */
    /*     /\* border-image-outset: 0; *\/ */
    /*     /\* border-image-repeat: stretch; *\/ */
    /*     /\* border-image-slice: 100%; *\/ */
    /*     /\* border-image-source: none; *\/ */
    /*     /\* border-image-width: 1; *\/ */
    /* } */
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--slider-color);
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    /* height: 10px; */
    width: var(--vslider-thumb-width);
    height: var(--slider-thumb-height);
    border-radius: 0px;
    background: var(--slider-thumb);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--slider-background);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animate: 0.2s;
    background: var(--slider-background);
    border-radius: 0px;
    border: 1px solid #000000;
    border-left-width: 1px;
    border-right-width: var(--border-right-width);
}

input[type=range]::-moz-range-progress {
    background: var(--slider-color);
    width: 100%;
    height: 100%;
}

input[type=range]::-moz-range-thumb {
    display: none;
    border: none;
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-height);
    border-radius: 0px;
    background: var(--slider-thumb);
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    /* height: 10px; */
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: var(--slider-color);
    border: 1px solid #000000;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: var(--slider-background);
    border: 1px solid #000000;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: none;
    /* height: 10px; */
    /* width: 1px; */
    border-radius: 0px;
    background: var(--slider-background);
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--slider-color);
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--slider-background)
}


.progress-bar-vertical {
  width: 20px;
  min-height: 200px;
  margin-right: 20px;
  background: #d0cece;
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: -webkit-flex; 
  display: flex;        
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

canvas.vumeter {
    filter: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: thin solid black;
    background-color: #fff
}

meter {
    -moz-orient: vertical; /* Firefox */
    -webkit-transform: rotate(-90deg); /* hacky way: be careful to the bar position */
    transform: rotate(-90deg);
    border-radius: 0;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}


.progress-striped {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


